#whole
        {

          background-image: url(images/forfood.jpg);
          margin: 50px 0px 0px 0px;

        }

        #loginsign
        {
          margin: 50px 0px 0px 0px;
        }

        #whole a
        {
          color: white;
        }

        #drop a
        {
          color: black;
        }


        .logo img
        {
          height: 150px;

        }

        #navi
        {
          align-content: center;

        }


        #contain
        {
          background: #0080C3;
          height: 450px;
        }

        .intro h1
        {
          color:white;
          text-align:  center;
          margin-top: 150px;
        }

        .intro h4
        {
          color:white;
          text-align:  center;
        }

        #sign
        {
          border-radius: 50%;

        }

        #carouselheight
        {
          height: 400px;
          padding-top: 15px;

        }

        #download
        {
          padding: 20px 20px;
          margin-left: 250px;
        }

        #business
        {
          background:#242D37;
          height: 100px;
        }

        #local
        {
          font-family: fantasy;
          font-size: 50px;
          font-weight: bolder;
          text-align: center;

        }

        #organization
        {
          font-size: 20px;
          font-family: cursive;
          text-align: center;


        }

        .companyimg img
        {
          width: 30%
        }

        #Copyright
        {
          color:white;
          text-align: center;

        }

        #Simple h2
        {
          font-style: oblique;
        }

        .socialmedia a i
        {
          height: 100px;
        }

        #head1
        {
          color: white;
        }

        #navbarSupportedContent li
        {
          font-style: cursive;
        }

        #sm
        {
          border-radius: 5%;
          background: white;
          height: 5px;
        }