 #welcomepages
      {
        background-image: url(images/forfood.jpg);
        height: 600px;
        background-repeat: no-repeat;

      }

      #carouselheight
      {
        height :550px;


      }

      #carouselheight img
      {
        height :550px;

      }

      #menuimg img
      {
        border-radius: 50%;
        height: 100px;
      }

      hr
      {
        height: 40px;
        display: block;
        width: 1000px;
      }

      h3
      {
        font-weight: bolder;
        margin: 0px 0px 0px 5px;
      }

      #menuimg p
      {
        font-family: cursive;
        margin: 0px 0px 0px 10px;
      }

      #menuimg span
      {
        font-family: cursive;
        margin: 0px 0px 0px 50px;
      }

      #menuimg button
      {

        margin: 0px 0px 0px 50px;
      }
